/* src/App.css */
body {
  margin: 0;
  background: #0b5134;
  color: #fff;
  font-family: sans-serif;
}

.start-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.table {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.hand {
  display: flex;
  justify-content: center;
  gap: 4px;
  padding: 10px;
}

.middle-row {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.remaining {
  display: grid;
  grid-template-columns: repeat(6, 40px);
  grid-gap: 4px;
  justify-content: center;
}

.tile {
  width: 40px;
  height: 60px;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 0.7rem;
}

.tile.back {
  background: gray;
}
