:root {
  --header-size: 40px;
  --tile-margin: 4px;
  --n_tiles: 16;
  --tile-aspect-ratio: 1.4;
  --limiting-width-h: calc(((3 * 100vw / 5) - (calc(var(--n_tiles) - 1) * var(--tile-margin))) / var(--n_tiles));
  --limiting-width-v: calc((((100vh - var(--header-size)) * 4 / 6) - (calc(var(--n_tiles) - 1) * var(--tile-margin))) / var(--n_tiles));

  --tile-width: min(var(--limiting-width-h), var(--limiting-width-v));
  --tile-height: calc(var(--tile-width) * var(--tile-aspect-ratio));
}

body {
  background: #b9fbc0;
  color: #fff;
  font-family: sans-serif;
}

.start-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.start-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #cfbaf0;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.start-button:hover {
  animation: spin 0.5s ease-in-out;
}

.start-button:active {
  transform: scale(1.05);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.app-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: var(--header-size) 1fr 3fr 2fr;
  grid-template-areas:
    "header        header        header"
    "player-left   player-top    player-right"
    "player-left   middle        player-right"
    "player-bottom player-bottom player-bottom";
  overflow: hidden;
}

.header {
  grid-area: header;
  background: #cfbaf0;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

#player-left { grid-area: player-left; }
#player-top { grid-area: player-top; }
#player-right { grid-area: player-right; }
#player-bottom { grid-area: player-bottom; }

.player-vertical {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr; 
}

.player-horizontal {
  display: grid; 
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

.middle {
  grid-area: middle;
  display: flex;
}

.hand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--tile-margin);
  padding: 10px;
}

.player-vertical .hand {
  flex-direction: column;
}

#player-left .tile img {
  transform: rotate(90deg);
}

#player-right .tile img {
  transform: rotate(-90deg);
}

.pairs {
  display: flex;
  justify-content: center;
  gap: var(--tile-margin);
  padding: 10px;
}

.player-vertical .pairs {
  flex-direction: column;
}

.tile {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.top .tile {
  width: var(--tile-width);
  height: var(--tile-height);
}

.player-vertical .tile {
  width: var(--tile-height);
  height: var(--tile-width);
}

.tile img {
  width: var(--tile-width);
  height: var(--tile-height);
  object-fit: contain;
}

#player-bottom .tile img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}
